{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-title">
                    <h1>ToDo</h1></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="mb-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="name" class="form-control" placeholder="Enter the name">
                </div><br>
                    <div class="form-group">
                <input type="text" name="priority" class="form-control" placeholder="Enter the priority">
                </div><br>
                 <div class="form-group">
                <input type="date" name="date" class="form-control" >
                </div><br>
                <input type="submit" class="btn btn-success">
            </form>

            </div>
        <div class="col-md-6">
            <h4 class="tsk">Tasks To Be Completed</h4>
            {% for i in ts %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p>{{i.priority}}</p>
                    <p>{{i.date}}</p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>

                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}