.banner
{
background-color:rgb(153, 102, 153);
height: 100px;
width: 1400px;
margin-bottom:50px;
  border: 10px solid transparent;
  padding: 15px;
}
.banner-title
{
font-family: cursive;
text-align: center;
}
.tsk
{
font-family: cursive;
}